extends ../layouts/header.pug

block prepend header
  - headerPath = 'views.statuses.editing'

block content
  +formFor()(action=`/statuses/${taskStatus.id}` method='post')
    +input(taskStatus, 'name', errors, t('views.name'))(type="text" value=`${taskStatus.name}`)
    +buttonTo(`/statuses/${taskStatus.id}`, 'patch')(class='btn btn-success' value=t('views.edit'))
