extends ../layouts/application

block header
  h1.display-4.fw-bold.mt-4= t('views.statuses.creation')

block content
  +formFor()(action=route('statuses') method='post')
    +input(taskStatus, 'name', errors, t('views.name'))(type="text")
    +submit(taskStatus)(value=t('views.create'))
