extends ../layouts/header.pug

block prepend header
  - headerPath = 'views.statuses.creation'

block content
  +formFor()(action=route('statuses') method='post')
    +input(taskStatus, 'name', errors, t('views.name'))(type="text")
    +submit(taskStatus)(value=t('views.create'))
