extends ../layouts/header.pug

block prepend header
  - headerPath = 'views.labels.creation'

block content
  +formFor()(action=route('labels') method='post')
    +input(label, 'name', errors, t('views.name'))(type="text")
    +submit(label)(value=t('views.create'))
