extends ../layouts/application.pug

block header
  h1.display-4.fw-bold.mt-4= t('views.tasks.creation')

block content
  +formFor()(action=route('tasks') method='post')
    +input(task, 'name', errors, t('views.name'))(type='text')
    +input(task, 'description', errors, t('views.tasks.description'), 'textarea')(row='3')
      
+submit(task)(value=t('views.create'))
