extends ../layouts/application.pug

block header
  h1.display-4.fw-bold.mt-4= t('layouts.application.signIn')

block content
  .d-flex.align-items-center.justify-content-center
    +formFor()(action=route('session') method='post')
      +input(signInForm, 'email', errors, t('views.users.email'))(type="text")
      +input(signInForm, 'password', t('views.users.password'))(type="password")
      +submit(signInForm)(value=t('views.session.new.submit'))
